<!---interpolation ----><!--{{ message }}---->
<!--- event-binding----><!---<button (click)="f(' **test')">test</button>---->
<!--property-binding ---><!----<input [value]="message">---->
<!--two-way-binding ---><!---<input [(ngModel)]="message">---->
<br><br>
Recherche : <input [(ngModel)]="titre"> {{titre}} <br><br>
<!----<p>La date est : {{ myDate | date:'yyyy-MM-dd' }}</p>--->
<div class="container">
  <div class="row">
    <div *ngFor="let category of categories | contains:titre " class="col-md-4" style="margin-bottom: 20px;">
    <app-card  (add)="addToShortList($event)" (notified)="getNotif($event)" [category]="category"></app-card>
      </div>
 </div>
</div>

<router-outlet></router-outlet>
