/* You can add global styles to this file, and also import other style files */
.maclasse1 {

  color: red;

  font-weight: bold;

}
.maclasse2 {

  color: green;

  font-weight: bold;

}

.highlight {
  background-color: yellow;
  padding: 10px;
  border: 1px solid black;
}
